{% extends 'base.html.twig' %}

{% block title %}Portfollow{% endblock %}

{% block body %}
 <table class="table">
        <thead>
        <tr>
            <th>titre</th>
            <th>pict</th>
            <th>date</th>
            <th>position</th>
            <th>description</th>
            <th>userName</th>
            <th>postLink</th>
            <th>userLink</th>
            
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.picts }}</td>
                <td>{{ post.addDate |date("Y-m-d H:i:s") }}</td>
                <td>{{ post.localisation }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.user.pseudo }}</td>
                <td><a href="ShowPost/{{ post.id }}">Par ici</a></td>
                <td><a href="user/{{ post.user.id() }}">Par ici</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
