
<div class="form-inscription">

    <div class = "f-insc">
            {{ form_start(form) }}
            <h1 style="text-align:center;">Portfollow</h1>
                
            <div>
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
               {{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}
            </div><br>
            <div>
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
            </div>
            <div >
                {{ form_label(form.bio) }}
                {{ form_widget(form.bio, {'attr': {'class': 'form-control'}}) }}
            </div>   

            <br>
            <button style="width:100%;"class="btn btn-primary">{{ button_label|default('Inscription') }}</button>

            {{ form_end(form) }}
    </div>

</div>
