{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/navbar.html.twig' %}

<<<<<<< HEAD
    <h1>resultat de recherche</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td><a class="nav-link" href="/user/{{ user.id }}">Profil</a></td>
=======
<style>
>>>>>>> 1f8301e6aed405e67980e291a9c0649bc2706bbf


.image{
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     height: 20px;
     width: 20px;
     border-radius:100px;
}



</style>
<br>

    <h3 style="text-align: center;">Utilisateur(s) trouvé(s)</h3><br>

    <div style="width: 50%; margin:auto; text-align: center;">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Accéder au profil</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.pseudo }}</td>
                    <td><a class="nav-link" href="/user/{{ user.id }}">Profil</a></td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
